name: CI for Go Web App
on:
  push:
    branches:
      - main

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - run: go mod download
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          args: ./...
      - run: go test -v ./...
      - run: go build -o app .

  push-image:
    needs: build-and-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - run: |
          docker build -t govind718/go-web-app:${{ github.sha }} .
          docker tag govind718/go-web-app:${{ github.sha }} govind718/go-web-app:latest
          docker push govind718/go-web-app:${{ github.sha }}
          docker push govind718/go-web-app:latest
  
  deploy-to-ecs:
    needs: push-image
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Render ECS task definition
        id: render
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: ecs-task-def.json
          container-name: go-web-app
          image: govind718/go-web-app:${{ github.sha }}

      - name: Deploy to ECS service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.render.outputs.task-definition }}
          cluster: go-web-app-cluster
          service: go-web-app-service
          wait-for-service-stability: true
