name: CI for Go Web App
on:
  push:
    branches:
      - main

jobs:
  build-and-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.22'
      - run: go mod download
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55.2
          args: ./...
      - run: go test -v ./...
      - run: go build -o app .

  push-image:
    needs: build-and-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - run: |
          docker build -t govind718/go-web-app:${{ github.sha }} .
          docker tag govind718/go-web-app:${{ github.sha }} govind718/go-web-app:latest
          docker push govind718/go-web-app:${{ github.sha }}
          docker push govind718/go-web-app:latest
